input[type=number] {
    width: 25%;
    padding: 8px 12px;
    margin: 10px 10px;
    box-sizing: border-box;
}

input[type=submit] {
  background-color: #5569d8;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 20px;
  cursor: pointer;
}

label[class=default] {
    padding: 30px 0px;
    margin-left: 30pc;
    font-size: larger;
    font-weight: bold;
}

label[class="right"] {
    font-size: larger;
    font-weight: bold;
}

.WeatherCard {
    display: flex;
    flex-direction: column;
    background-color: rgb(90, 179, 214);
    margin: 0px 10px;
    padding: 10px 50px;
}

.hot {
    background-color: red;
}

.cold {
    background-color: rgb(146, 245, 252);
}

h2.name {
    text-align: center;
    width: 100%;
}

h2.temperature {
    text-align: center;
}

td.test {
    margin-top: auto;
}

td.test2 {
    width: 275px;
}